{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
    <!-- Metas -->
    <meta name="description" content="">
    <meta name="keywords" content="lead, shot, hazard, ska, punk, band, merch, shopping, music, merchandise, skapunk, london, brass, trombone, saxophone">
    <link rel="canonical" href="https://catermerch.herokuapp.com/">
    <!-- Facebook, LinkedIn, Google -->
    <meta property="og:title" name="title" content="Catermerch" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="https://catermerch.herokuapp.com/" />
    <!-- Twitter -->
    <meta name="twitter:title" content="Catermerch">
    <meta name="twitter:description" content="">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="container">
        <div class="row h-75 justify-content-center mt-5">
            <div class="col-10 col-md-6 my-auto">
                <h1>Homepage</h1>
            </div>
        </div>
    </section>
{% endblock %}